body {
  background: rgb(58, 58, 58);
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* HEADER */
header {
  background-color: black;
  background-image: url("header.png");
  background-size: 100%;
  background-position: center;
  height: 400px;
  padding: 20px;
  text-align: center;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 40px;
}

header .logo a {
  background-image: url("rumhub.png");
  background-size: 200px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 100px;
  position: relative;
  text-indent: -9999999px;
  top: -30px;
  width: 200px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

/* FEATURES */

.section {
  background: white;
  color: gray;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

section div {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
}

section div img {
  border: 1px solid white;

  box-shadow: gray 0 0 10px;
  width: 200px;
}

/* FOOTER */

footer {
  background: black;
  color: gray;
  font-size: 12px;
  padding: 20px 20px;
  text-align: center;
}